<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top" style="text-align:center; ">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-row-padding">
  <p>Développeur Web Front-End</p>
    <div class="w3-row-padding w3-center">
        <h3>Me contacter via les réseaux sociaux</h3>
        <div class="w3-xlarge w3-section">
          <a href="https://www.facebook.com/joel.beya.752" class="fa fa-facebook-official w3-hover-opacity"></a>
          <a href="https://www.instagram.com/joelbeya01/" class="fa fa-instagram w3-hover-opacity"></a>
          <a href="https://github.com/joelbeya" class="fa fa-github w3-hover-opacity"></a>
          <a href="https://www.pinterest.fr/joelbeyabj/" class="fa fa-pinterest-p w3-hover-opacity"></a>
          <a href="https://twitter.com/joelbeya_bj" class="fa fa-twitter w3-hover-opacity"></a>
          <a href="https://www.linkedin.com/in/joelbeya/" class="fa fa-linkedin w3-hover-opacity"></a>
        </div>
    </div>
      <p class="w3-row">Copyright &copy; 2019. All rights reserved. Your great Friend BEYA.</p>
  </div>

</footer>
