<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BEYA Joel's blog!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <style>
          body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
          .topnav {
            overflow: hidden;
            float: right;
            /* background-color: #333; */
          }

          .topnav a {
            float: right;
            display: block;
            /* color: #f2f2f2;
            text-align: center; */
            padding: 7px 13px;
            /* text-decoration: none; */
            /* font-size: 17px; */
          }

          .topnav a:hover {
            /* background-color: #ddd; */
            color: black;
          }

          .topnav a.active {
            /* background-color: #4CAF50; */
            color: white;
          }

          .topnav .icon {
            display: none;
          }

          @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
              float: right;
              display: block;
            }
          }

          @media screen and (max-width: 600px) {
            .topnav.responsive {position: relative;}
            .topnav.responsive .icon {
              position: relative;
              right: 0;
              top: 0;
            }
            .topnav.responsive a {
              float: none;
              display: block;
              text-align: right;
            }
          }
        </style>
    </head>
    <body class="w3-light-grey">
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><b>BEYA Joel's</b> Blog</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="topnav" id="myTopnav">
          <a href=""></a>
          <a href="#projects" class="w3-bar-item w3-button">Archives</a>
          <a href="#about" class="w3-bar-item w3-button">Mots-clés</a>
          <a href="#contact" class="w3-bar-item w3-button">Contact</a>
          <a href="#cv" class="w3-bar-item w3-button">CV</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
          <br>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <!-- BEGIN w3-content -->
    <div class="w3-container">

    </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


    <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top" style="text-align:center; ">
      <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
      <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
    </body>
</html>
